.mdl-layout {
  background-color: #FFFFFF;
}

.mdl-layout__content {
  margin-top: -64px;
}

.header-image {
  width: 100%;
  height: 45vh;

  background: #00F;
  position: absolute;
}

.mdl-grid {
  position: relative;
}

.cell-opaque {
  margin-top: calc(80px + 64px);
}
