.mdl-layout {
  background: url('../images/index.jpg') center / cover;
}

.title-text, .subtitle-text {
  color: white;
}

.title-text, .subtitle-text {
  color: white;
  font-weight: 500;
  line-height: 1;
}

.title-text {
  font-size: 60px;
  margin-top: calc(((100vh - 100px) / 2) - 64px);
}

.subtitle-text {
  font-size: 20px;
  margin-top: 20px;
  margin-bottom: calc((100vh - 100px) / 2);
}
